<div class="copy-right">

  <p><%= t(:contacts) %><br>
     <%= t(:mail) %> <a href="#">info@intertobacco.ltd</a><br>
     <%= t(:phone) %> <a href="tel:+79523886606">+7(952)388-66-06</a><br>
     Whatsapp: <a href="tel:+79110811486">+7(911)081-14-86</a><br>
     Instagram: <a href="https://www.instagram.com/newyorkerclub/">@newyorkerclub</a><br><br>
     Template by <a href="http://w3layouts.com/">W3layouts</a></p>
  <script type="text/javascript">
    $(document).ready(function() {
      $().UItoTop({ easingType: 'easeOutQuart' });
    });
  </script>
  <a href="#" id="toTop" style="display: block;">
    <span id="toTopHover" style="opacity: 1;"></span>
  </a>
</div>
