#pp {
    position: absolute;;
    top:-850px; left:50%;
    margin-left:-285px;
    width: 570px;
    background: black;
    z-index:999999;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border: 2px solid yellow;
    border-radius: 40px;
}
#pp p{
  color: white;
}
#pp img {
  width: 100px;
}

#pp .pp-header, #pp .pp-footer{
    padding: 10px;
    background: #3D9970;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
}

#pp .pp-header h3{
    margin:0;
    font: normal 1.7em/1.3 Verdana;
    color: #fff;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
    text-align: center;
}

#pp .pp-content{ background: #fff; padding: 20px 10px;}
#pp .pp-content-main{
    width: 340px;
    padding: 0 0 10px 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}

#pp .pp-content-main ul,
#pp .pp-content-main h4 {padding-left: 0; margin: 0;}
#pp .pp-content-main h4 { font-size: 18px; margin:0 0 5px 20px;}
#pp .pp-content-main li {list-style: none;}
#pp .pp-content-main li i {margin-right: 5px;}
#pp .pp-content-sidebar{
    width: 170px;
    display: inline-block;
    vertical-align: top;
}

#pp .pp-content-sidebar i {font-size: 184px; color: #036;}
#pp .pp-footer { background: #EAEAEC; }


#pp-bg {
    position: fixed;
    top:0; left:0;
    width:100%; height: 100%;
    background: rgba(30,30,30,0.5);
    z-index:99999;
    display: none;
}

.btn, .btn:visited {
    position: relative;
    display: inline-block;
    padding: 5px 10px 6px;
    background: red;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    width: 100px;
}

.btn:hover { background-color: green; }
.btn:active { top: 1px; }


@media (max-width:768px){
	#pp {
    position: absolute;;
    top:-850px; left:50%;
    margin-left:-285px;
    width: 570px;
    }
  #pp img {
    width: 100px;
    }
	}

@media (max-width:640px){
	#pp {
    position: absolute;;
    top:-850px; left:50%;
    margin-left:-185px;
    width: 370px;
    }
  #pp img {
    width: 100px;
    }
	}

@media (max-width:480px){
	#pp {
    position: absolute;
    top:-850px; left:50%;
    margin-left:-183px;
    width: 366px;
    }
  #pp img {
    width: 100px;
    }
	}

@media (max-width:320px){
	#pp {
    position: absolute;
    top:-850px; left:50%;
    margin-left:-160px;
    width: 320px;
    }
  #pp img {
    width: 100px;
    }
	}
